@page "/settings"

<MudContainer Class="my-5">

    <SectionContent SectionName="@Sections.Header">
        <MudButton Href="/"
                   Color="Color.Primary"
                   Variant="Variant.Text"
                   StartIcon="@Icons.Material.Outlined.ChevronLeft">
            Back
        </MudButton>
        
        <MudText Typo="Typo.h4" Align="Align.Left" Class="mb-4">
            Settings
        </MudText>
    </SectionContent>

    <MudGrid Justify="Justify.Center">
        <MudItem xs="12" sm="6">
            
            <MudPaper Class="pa-4" 
                      Elevation="0"
                      Style="@($"background:{Colors.Gray.Lighten5};")">
                <MudText Typo="Typo.h5">QR Code</MudText>
                
                <div class="d-flex flex-column gap-3 mt-2">
                    <MudTextField T="string"
                                  Label="Size"
                                  @bind-Value="SettingsService.QrSize.DynamicWidth"
                                  Margin="Margin.Dense" />

                    <MudTextField T="string"
                                  Label="Color"
                                  @bind-Value="SettingsService.QrCodeColorInput"
                                  Placeholder="#000000"
                                  Margin="Margin.Dense" />
                </div>
            </MudPaper>

            <MudPaper Class="pa-4 mt-4" 
                      Elevation="0"
                      Style="@($"background:{Colors.Gray.Lighten5};")">
                <MudText Typo="Typo.h5">Page Size</MudText>

                <div class="d-flex flex-column gap-3 mt-2">
                    <MudTextField T="string"
                                  Label="Width"
                                  @bind-Value="SettingsService.PageSize.DynamicWidth"
                                  Margin="Margin.Dense"/>

                    <MudTextField T="string"
                                  Label="Height"
                                  @bind-Value="SettingsService.PageSize.DynamicHeight"
                                  Margin="Margin.Dense"/>

                    <MudSwitch @bind-Value="SettingsService.UsePrinterDefaults"
                               Color="Color.Primary"
                               Label="Use QR Printer Defaults"/>
                </div>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>
