@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Class="d-print-none" Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="@Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3">ID1 Label Program</MudText>
        <MudSpacer />
    </MudAppBar>
    <MudDrawer Class="d-print-none" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <MudNavMenu>
            <MudNavLink Class="text-" Match="NavLinkMatch.All" Href="/">Generate QR</MudNavLink>
            <MudNavLink Href="/settings">Settings</MudNavLink>
            <MudNavLink Href="/about">About</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Class="pt-0">
        <div class="px-5 mt-5 pt-4 d-print-none">
            <SectionOutlet SectionName="@Sections.Header"/>
        </div>
        @Body
    </MudMainContent>
</MudLayout>